body {
  padding: 0;
  margin: 0;
}
#playpane {
  width:96px;
  background: #99FFFF;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

#bar {
  background: black;
  height:2px;
  display:block;
  width:0%;
}

#process {
  background:#fff;
}